*{
  font-family: 'Rubik', sans-serif;
}
h1{
  font-weight: bold;
  color: var(--bg-green);
  margin-bottom: 1rem;
}
h4{
  font-weight: 500;
  margin-bottom: 1rem;
  background-color: rgba(128, 128, 128, 0.07);
  padding: 0.6rem;
  border-radius: 1rem;
  width: fit-content;
}

button{
  margin-top: 1rem;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.71);
  color: black;
}

button:hover{
  background-color: #0e7e0e;
  color: #efefef;
}
