main {
  margin: 1.5rem;
  padding: 1rem;

  table {
    width: 100%;
    margin-bottom: 2rem;
  }

  th{
    text-align: center;
  }
  td{
    text-align: center;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-expanded-row{
    background-color: var(--gray-weak);
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }


  .example-element-description {
    margin:auto;
    padding: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }

}
.mr-1{
  margin-right: 1rem;
}
