<main>
    <form [formGroup]="form" (ngSubmit)="openConfirmDialog()">
        <p>
            <mat-form-field>
                <input type="text" matInput [placeholder]="'games.homeTeam' | translate" formControlName="homeTeam">
            </mat-form-field>

        </p>

        <span *ngIf="!form.controls['homeTeam'].valid &&
      form.controls['homeTeam']?.touched" class="error">
        {{ "games.homeTeam" | translate }} {{ "games.required" | translate}}
      </span>
        <p>
            <mat-form-field>
                <input type="text" matInput [placeholder]="'games.awayTeam' | translate" formControlName="awayTeam">
            </mat-form-field>
        </p>
        <span *ngIf="!form.controls['awayTeam'].valid &&
      form.controls['awayTeam']?.touched" class="error">
        {{  "games.awayTeam" | translate  }} {{ "games.required" | translate}}
      </span>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>{{'games.type' | translate}}</mat-label>
                <mat-select formControlName="type" [(ngModel)]="data.edit && data.game.tipo.id">
                    <mat-option *ngFor="let type of tipos" [value]="type.id">
                        {{"bets."+ type.nome | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <span *ngIf="!form.controls['type'].valid &&
      form.controls['type']?.touched" class="error">
        {{  "games.type" | translate  }} {{ "games.required" | translate}}
      </span>
        <p>

            <mat-form-field>
                <input matInput [ngxMatDatetimePicker]="picker" [min]="minDate" [placeholder]="'games.date' | translate" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="$any(picker)" showSeconds="false">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="true" >
                </ngx-mat-datetime-picker>
            </mat-form-field>
        </p>
        <span *ngIf="!form.controls['date'].valid &&
      form.controls['date']?.touched" class="error">
        {{  "games.date" | translate  }} {{ "games.required" | translate}}
      </span>

        <div class="button">
            <button type="submit" [disabled]="!this.form.valid" mat-button>{{ (data.edit? "games.editGame" : "games.addGame") | translate}}</button>
        </div>

    </form>
</main>
