main {
  display: flex;
  font-family: 'Rubik', sans-serif;
  flex-direction: column;
  align-items: center;

  section {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid var(--gray-weak);
    border-radius: 1rem;
    background-color: var(--gray-transparent);
    padding: 1.3rem;
    margin-bottom: .5rem;

    .remove-btn {
      position: absolute;
      font-weight: bold;
      right: 8px;
      top: 8px;
      cursor: pointer;

      &:hover {
        color: #d70000;
      }
    }
  }
  .mat-radio-group{
    display:flex ;
    align-items: center;
    width:50%;
    justify-content: space-between;
    padding-bottom: 1rem;
    .mat-radio-button:nth-child(1){
      margin-right: 0.8rem;
    }
  }
  button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 82%;
  }
  .bt-active:hover{
    background-color: var(--bg-green);
    color: white;
  }
}
