main {
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: .5rem;

    .remove-btn {
      position: absolute;
      right: 5px;
      top: 0;
      cursor: pointer;

      &:hover {
        color: #d70000;
      }
    }
  }
  .mat-radio-group{
    display:flex ;
    width:50%;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 82%;
  }
}
