<div class="editForm">
  <form [formGroup]="form" (ngSubmit)="editInfo()">
    <p>
      <mat-form-field>
        <input type="text" matInput [placeholder]="'registerPage.firstName' | translate"  formControlName="firstName">
      </mat-form-field>
    </p>
    <span *ngIf="!form.controls['firstName'].valid &&
      form.controls['firstName']?.touched" class="error">
        {{  "registerPage.firstNameRequired" | translate  }}
      </span>
    <p>
      <mat-form-field>
        <input type="text" matInput [placeholder]="'registerPage.lastName' | translate"  formControlName="lastName">
      </mat-form-field>
    </p>
    <span *ngIf="!form.controls['lastName'].valid &&
      form.controls['lastName']?.touched" class="error">
        {{  "registerPage.lastNameRequired" | translate  }}
      </span>
    <p>
      <mat-form-field>
        <input type="password" matInput [placeholder]="'loginPage.password' | translate" formControlName="password">
      </mat-form-field>
    </p>
    <span *ngIf="!form.controls['password'].valid &&
      form.controls['password']?.touched" class="error">
        {{  "loginPage.invalidPassword" | translate  }}
      </span>
    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div class="button">

      <button type="button" (click)="closeEdit()" mat-button>{{"profile.cancelEdit" | translate}}</button>
      <button type="submit" [disabled] = "!this.form.valid"  mat-button>{{"profile.saveInfo" | translate}}</button>
    </div>

  </form>
</div>
