<main>
  <mat-card *ngFor="let jogo of jogos">
    <mat-icon (click)="gameNotify(jogo.id)" class="notification-icon" *ngIf="!isDateInvalid(jogo.date)" [fontSet]="checkGameNotify(jogo.id)">notifications_active</mat-icon>
    <mat-card-title>{{jogo.homeTeam}} vs {{jogo.awayTeam}}</mat-card-title>
    <mat-card-subtitle>
      <p>{{"bets." + jogo.tipo.nome | translate}}</p>
      {{formatDate(jogo.date)}}</mat-card-subtitle>
    <mat-button-toggle-group name="odds" aria-label="Odds" (change)="onChangeToggleGroup(jogo, $event.value)"
                             disabled="{{isDateInvalid(jogo.date)}}">
      <mat-button-toggle checked="{{isOpcaoApostaChecked(jogo, op.type)}}" *ngFor="let op of jogo.opcaoApostas"
                         value="{{op.type}}">
        <div class="odd-item">
          <strong>{{handleTypeToShow(op.type, jogo)}}</strong>
          <br>
          <span>{{op.odd}}</span>
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
  <mat-paginator class="paginator"
                 [length]="totalGames"
                 [pageIndex]="currentPage"
                 [pageSize]="gamesPerPage"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="pageChanged($event)"
                 aria-label="Select page">
  </mat-paginator>
</main>
