.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: var(--bg-green);
}

.title {
  font-size: 2.5rem;
  font-family: 'Rubik', sans-serif;
  background-image: linear-gradient(
                  to right,
                  #462523 0,
                  #cb9b51 22%,
                  #f6e27a 45%,
                  #f6f2c0 50%,
                  #f6e27a 55%,
                  #cb9b51 78%,
                  #462523 100%
  );
  color:transparent;
  -webkit-background-clip:text;
}

.auth-btns {
  button:first-child {
    margin-right: 1rem;
  }
}

.menu{
  display: flex;
  flex-direction: row;
  text-align: center;
  h1{
    background-image: linear-gradient(
                    to right,
                    #462523 0,
                    #cb9b51 22%,
                    #f6e27a 45%,
                    #f6f2c0 50%,
                    #f6e27a 55%,
                    #cb9b51 78%,
                    #462523 100%
    );
    color:transparent;
    -webkit-background-clip:text;
    margin-right: 1rem;
  }
}

.menu button,.auth-btns{
  color: var(--white-text);
}
.mg-r{
  margin-right: 0.5rem;
}

.adminLogoutButton{
  cursor: pointer;

  label, mat-icon{
    color: black;
  }
}

.maior {
  font-size: 1.5rem;
  border: 1px solid black;
}

.infinite-scroll-container {
  width: 100%;
  height: 35vh;
  overflow-y: auto;
}

.notification {
  padding: 8px 13px;
  margin-bottom: .3rem;
  margin-top: 0;
  font-size: .9rem;

  .notification-date {
    font-size: .8rem;
    font-weight: 600;
  }

  .notification-content {
    word-wrap: break-word;
  }
}

.unread {
  background-color: #edf0ec !important;  
}

.notification:hover {
  background-color: #e7e7e7;
}

::ng-deep .mat-menu-content {
  padding: 0 !important;
}