<mat-toolbar class="toolbar">
  <h1 *ngIf="!auth.isAuthenticated()" routerLink="/" class="title">{{"rasbet" | translate}}</h1>
  <div class="menu" *ngIf="auth.isAuthenticated()">
    <h1 class="title">{{"rasbet" | translate}}</h1>
    <ng-container *ngIf="auth.getUserRole() === role.ROLE_USER">
    <button mat-button routerLink="/home">{{"home.games" | translate}}</button>
    <button mat-button routerLink="/aposta">{{"bets.simpleBets" | translate}}</button>
    <button mat-button routerLink="/apostaMultipla">{{"bets.multipleBets" | translate}}</button>
    <button mat-button routerLink="/transacoes">{{"home.transation" | translate}}</button>
    </ng-container>
  </div>

  <div class="auth-btns">
    <button mat-button [matMenuTriggerFor]="languageMenu"><span class={{setLanguageFlag()}}></span><mat-icon>keyboard_arrow_down</mat-icon></button>
    <ng-container *ngIf="!auth.isAuthenticated()">
      <button mat-raised-button class="mg-r" routerLink="/login">{{"loginPage.login" | translate}}</button>
      <button mat-raised-button routerLink="/register">{{"registerPage.register" | translate}}</button>
    </ng-container>
    <ng-container></ng-container>
    <ng-container *ngIf="auth.isAuthenticated() && auth.getUserRole() === role.ROLE_USER">
      <!-- {{"home.language" | translate}} -->

      <button mat-button [matMenuTriggerFor]="menu">{{"home.wallet" | translate}}: {{getUserWallet()}}€</button>
      <button mat-button [matMenuTriggerFor]="userMenu"><mat-icon>face</mat-icon></button>
    </ng-container>
    <ng-container *ngIf=" auth.isAuthenticated() && auth.getUserRole() !== role.ROLE_USER">
      <button (click)="auth.logout()" mat-raised-button class="adminLogoutButton">
        <mat-icon>exit_to_app</mat-icon>
        <label>{{"home.logout" | translate}}</label>
      </button>
    </ng-container>
  </div>

</mat-toolbar>

<mat-menu #languageMenu="matMenu">
  <button class="language-item" mat-menu-item (click)="translate.use('pt')">
    <span class="flag-icon flag-icon-pt flag-icon-squared"></span> {{"home.portuguese" | translate}}
  </button>
  <button mat-menu-item class="language-item" (click)="translate.use('eng')">
    <span class="flag-icon flag-icon-gb flag-icon-squared"></span> {{"home.english" | translate}}
  </button>
</mat-menu>


<mat-menu #userMenu="matMenu">
  <button routerLink="/profile" mat-menu-item>
    <mat-icon>face</mat-icon>
    <label>{{"home.profile" | translate}}</label>
  </button>

  <button (click)="auth.logout()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <label>{{"home.logout" | translate}}</label>
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDepositDialog()">{{"sidenav.deposit" | translate}}</button>
  <button mat-menu-item (click)="openRaiseDialog()">{{"sidenav.rise" | translate}}</button>
</mat-menu>
