<mat-toolbar class="toolbar">
  <h1 *ngIf="!auth.isAuthenticated()" class="title">RasBet</h1>
  <div class="menu" *ngIf="auth.isAuthenticated()">
    <h1 class="title">RasBet</h1>
    <ng-container *ngIf="auth.getUserRole() === role.ROLE_USER">
    <button mat-button routerLink="/home">{{"home.games" | translate}}</button>
    <button mat-button routerLink="/aposta">{{"bets.simpleBets" | translate}}</button>
    <button mat-button routerLink="/apostaMultipla">{{"bets.multipleBets" | translate}}</button>
    <button mat-button routerLink="/transacoes">{{"home.transation" | translate}}</button>
    </ng-container>
  </div>

  <div class="auth-btns">
    <ng-container *ngIf="!auth.isAuthenticated()">
      <button mat-raised-button routerLink="/login">{{"loginPage.login" | translate}}</button>
      <button mat-raised-button routerLink="/register">{{"registerPage.register" | translate}}</button>
    </ng-container>
    <ng-container *ngIf="auth.isAuthenticated() && auth.getUserRole() === role.ROLE_USER">
      <button mat-button [matMenuTriggerFor]="menu">{{"home.wallet" | translate}}: {{getUserWallet()}}€</button>
      <button mat-button [matMenuTriggerFor]="userMenu"><mat-icon>face</mat-icon></button>
    </ng-container>
    <ng-container *ngIf=" auth.isAuthenticated() && auth.getUserRole() !== role.ROLE_USER">
      <button (click)="auth.logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <label>{{"home.logout" | translate}}</label>
      </button>
    </ng-container>
  </div>

</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button routerLink="/profile" mat-menu-item>
    <mat-icon>face</mat-icon>
    <label>{{"home.profile" | translate}}</label>
  </button>

  <button (click)="auth.logout()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <label>{{"home.logout" | translate}}</label>
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDepositDialog()">{{"sidenav.deposit" | translate}}</button>
  <button mat-menu-item (click)="openRaiseDialog()">{{"sidenav.rise" | translate}}</button>
</mat-menu>
